<%- include('partials/header') -%>
<div class="container">
  <!-- first row -->
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Water Quality Sampling Form</h2>
            <form action="/sample-event/newSampleEvent" method="POST">
              <div class="mb-3">
                  <label for="wellName" class="form-label">Well Name:</label>
                  <input type="text" class="form-control" id="wellName" name="wellName">
              </div>
              <div class="mb-3">
                <label for="dateSampled" class="form-label">Date:</label>
                <input type="date" class="form-control" id="dateSampled" name="dateSampled">
              </div>
              <div class="mb-3">
                <label for="fieldStaff" class="form-label">Field Staff:</label>
                <input type="text" class="form-control" id="fieldStaff" name="fieldStaff">
              </div>
              <div class="mb-3">
                <label for="sampler" class="form-label">Sampler:</label>
                <input type="text" class="form-control" id="sampler" name="sampler">
              </div>
              <div class="mb-3">
                <label for="swl" class="form-label">Static Water Level (SWL - ft):</label>
                <input type="number" step="0.01" class="form-control swl" id="swl" placeholder= 0.00 name="swl">
              </div>
              <div class="mb-3">
                <label for="correction" class="form-label">Correction (ft):</label>
                <input type="number" step="0.01" class="form-control correction" id="correction" placeholder= 0.00 name="correction" onchange="calcWaterLevel()">
              </div>
              <div class="mb-3">
                <label for="correctedSWL" class="form-label">Corrected SWL (ft):</label>
                <input type="number" step="0.01" class="form-control cSWL" id="correctedSWL" placeholder= 0.00 name="correctedSWL">
              </div>
              
              
              
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
           
          </div>
          
      </div>

      <div class="col-6">  
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Sample History</a>
        </div>  
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/well-list">Well Table</a>
        </div>
        
        <div class="justify-content-center mt-5">
          <h3 class="justify-content-between mt-3">Type of Sampling Event</h3>
          <form id="myForm">
            <label>
              <input type="checkbox" name="monthly" value="value1"> Monthly
            </label><br>
            <label>
              <input type="checkbox" name="quarterly" value="value2"> Quarterly
            </label><br>
            <label>
              <input type="checkbox" name="annual" value="value3"> Annual
            </label><br>
            <!-- <button type="submit" class="btn btn-secondary">Submit</button> -->
          </form>
        </div>  
        <div class="justify-content-center mt-5">
          <h3 class="justify-content-between mt-3">Discharge Method:</h3>
          <form id="myForm">
            <fieldset>
              <!-- <legend class="justify-content-between mt-3">Discharge Method:</legend> -->
              <div>
                <input type="radio" name="method" id="method-gpi" value="gpi">
                <label for="method-gpi">GPI</label><br>
            
                <input type="radio" name="method" id="method-other" value="other"> 
                <label id="method-other">Other</label><br>
                <input type="text" name="otherText" class="form-control">
              </div>
              <!-- <button type="submit" class="btn btn-secondary">Submit</button> -->
             </fieldset>
          </form>
        </div> 
        <div class="justify-content-center mt-5">
          <h2 class="justify-content-between mt-3">Well Water Pumped</h2>
          <form id="myForm">
            <label for="totalizerEnd" class="form-label">Totalizer End (gal):</label>
            <input type="number" step="0.01" class="form-control totalizerEnd" id="totalizerEnd" placeholder= 0.00 name="totalizerEnd" onchange="calcTotalizerTotal()">

            <label for="totalizerStart" class="form-label">Totalizer Start (gal):</label>
            <input type="number" step="0.01" class="form-control totalizerStart" id="totalizerStart" placeholder= 0.00 name="totalizerStart">

            <label for="totalizerTotal" class="form-label">Totalizer Total (gal):</label>
            <input type="number" step="0.01" class="form-control totalizerTotal" id="totalizerTotal" placeholder= 0.00 name="totalizerTotal">
            
            <!-- <button type="submit" class="btn btn-secondary">Submit</button> -->
          </form>
        </div> 
      </div>  
  </div>
 <!-- 2nd row start -->
  <div class="row mt-5">
    <!-- column 1 -->
    <div class="col-6">
        
      <div class="justify-content-center mt-5">
        <h2 class="justify-content-between mt-3">Generator Run Time:</h2>
        <form id="myForm">
          <label for="timeEnd" class="form-label">Pump End Time:</label>
          <input type="time" step="" class="form-control timeEnd" id="timeEnd" placeholder= 0.00 name="timeEnd" onchange="calcTimeTotal(), calcAverageDischarge()">

          <label for="timeStart" class="form-label">Pump Start Time:</label>
          <input type="time" step="" class="form-control timeStart" id="timeStart" placeholder= 0.00 name="timeStart">

          <label for="timeTotal" class="form-label">Total Pump Time (min):</label>
          <input type="number" step="" class="form-control timeTotal" id="timeTotal" placeholder= 0.00 name="timeTotal">
          
          <!-- <button type="submit" class="btn btn-secondary">Submit</button> -->
        </form>
      </div>
    </div>
    <!-- column 2 -->
    <div class="col-6"> 
      
        <h3 class="justify-content-between mt-5">Average Discharge</h3>
        <form id="myForm">
          <label for="averageDischarge" class="form-label">Total (gal) / Total (min) =</label>
          <input type="number" step="0.01" class="form-control averageDischarge" id="averageDischarge" placeholder= 0.00 name="averageDischarge">
        </form>
  
    </div>

    <!-- column 3 -->
    <!-- <div class="col">
      <div class="row justify-content-center mt-5">
        <a class="btn btn-primary" href="/feed">Return to Feed</a>
      </div>  
      <div class="row justify-content-center mt-5">
        <a class="btn btn-primary" href="/well-list">Well Table</a>
      </div>
      
      <div class="row justify-content-center mt-5">
        <h3 class="row justify-content-between mt-5">Type of Sampling Event</h3>
        <form id="myForm">
          <label>
            <input type="checkbox" name="monthly" value="value1"> Monthly
          </label><br>
          <label>
            <input type="checkbox" name="quarterly" value="value2"> Quarterly
          </label><br>
          <label>
            <input type="checkbox" name="annual" value="value3"> Annual
          </label><br>
          <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
      </div>  
    </div> -->


     
  </div>
  <!-- 3rd row starts  -->
  <div class="row mt-5">

    <!-- column 1 -->
    <div class="col-6">
      <div class="mt-5">
        <h2>Well Volume Calculation:</h2>
        <form>
          <div class="mb-3">
              <label for="wellVolume" class="form-label">Well Volumes:</label>
              <input type="number" value="5" min="0" class="form-control wellVolumes" id="wellVolume" name="wellVolume">
          </div>
          <div class="mb-3">
            <label for="wellDiameter" class="form-label">Well Diamter (in):</label>
            <input type="number" value="6" class="form-control wellDiameter" id="wellDiameter" name="wellDiameter">
          </div>
          <div class="mb-3">
            <label for="wellDepth" class="form-label">Depth of Well (ft):</label>
            <input type="number" step="0.01" class="form-control wellDepth" id="wellDepth" placeholder= 0.00 name="wellDepth">
          </div>
          <div class="mb-3">
            <label for="cSWL" class="form-label">Corrected SWL (ft):</label>
            <input type="number" step="0.01" class="form-control corrSWL" id="cSWL" placeholder= 0.00 name="cSWL" onchange="calcPurgeVolume(),  calcEstimatedPurgeTime()">
          </div>
          <div class="mb-3">
            <label for="purgeVolume" class="form-label">Calculated Purge Volume (gal):</label>
            <input type="number" step="0.01" class="form-control purgeVolume" id="purgeVolume" placeholder= 0.00 name="purgeVolume">
          </div>
        </form>
      </div>

    </div>
    <!-- column 2 -->
    <div class="col-6">
      <div class="mt-5">
        <form>
          <label for="estPurgeTime" class="form-label">Estimated Purge Time (min):</label>
            <input type="number" step="0.01" class="form-control estPurgeTime" id="estPurgeTime" placeholder= 0.00 name="estPurgeTime">
        </form>
      </div>
      

    </div>

  </div>
  <!-- 4th row starts  -->
  <div class="row mt-5">

    <!-- column 1 -->
    <div class="">
      <form action="">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Time:</th>
              <th scope="col">Temp:</th>
              <th scope="col">EC:</th>
              <th scope="col">pH:</th>
              <th scope="col">Turbidity:</th>
              <th scope="col">Corrected PWL:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
              <td><input type="text" ></td>
            </tr>         
            
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
      </form>
      

    </div>
    <!-- column 2 -->
    <!-- <div class="col-6">
      <div class="mt-5">
        <form>
          <label for="estPurgeTime" class="form-label">Estimated Purge Time:</label>
            <input type="number" step="0.01" class="form-control estPurgeTime" id="estPurgeTime" placeholder= 0.00 name="estPurgeTime">
        </form>
      </div>
      

    </div> -->

  </div>


</div>
<%- include('partials/footer') -%>