<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Water Quality Sampling Form</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="wellName" class="form-label">Well Name:</label>
                  <input type="text" class="form-control" id="title" name="wellName">
              </div>
              <div class="mb-3">
                <label for="dateSampled" class="form-label">Date:</label>
                <input type="date" class="form-control" id="title" name="correctedSWL">
              </div>
              <div class="mb-3">
                <label for="fieldStaff" class="form-label">Field Staff:</label>
                <input type="text" class="form-control" id="title" name="fieldStaff">
              </div><div class="mb-3">
                <label for="sampler" class="form-label">Sampler:</label>
                <input type="text" class="form-control" id="title" name="sampler">
              </div><div class="mb-3">
                <label for="swl" class="form-label">Static Water Level (SWL):</label>
                <input type="number" step="0.01" class="form-control" id="title" placeholder="0.00" name="swl">
              </div><div class="mb-3">
                <label for="correction" class="form-label">Correction:</label>
                <input type="number" step="0.01" class="form-control" id="title" name="correction">
              </div><div class="mb-3">
                <label for="correctedSWL" class="form-label">Corrected SWL:</label>
                <input type="number" step="0.01" class="form-control" id="title" name="correctedSWL">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/well-list">Well Table</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>